@font-face {
    font-family: 'arcadeclassicregular';
    src: url('fonts/arcadeclassic-webfont.woff2') format('woff2'),
         url('fonts/arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: black;
    color:rgb(0, 255, 64);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'arcadeclassicregular', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    border: 8px rgb(0, 255, 64);
    border-style: groove;
    border-radius: 20px;
    max-width: 500px;
    padding: 0 60px;
    margin: 60px 0px;
}

.opener {
    margin-bottom: 60px;
    font-size: 20px;
    color: rgb(41, 41, 255);
}

.opener-para1 {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.opener-para2 {
    margin-top: -30px;
}

img {
    max-width: 420px;
    border: 1px solid black;
    border-radius: 15px;
}

.round-result p {
    font-size: 16px;
    color: black;
}

.buttons
#rock, #paper, #scissors {
    padding: 10px;
}