@font-face {
    font-family: 'arcadeclassicregular';
    src: url('fonts/arcadeclassic-webfont.woff2') format('woff2'),
         url('fonts/arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: black;
    color:rgb(37, 186, 255);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'arcadeclassicregular', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    border: 8px rgb(37, 186, 255);
    border-style: groove;
    border-radius: 20px;
    padding: 0 80px;
    margin: 15px 0px;
}

.opener {
    margin-bottom: 20px;
    color: rgb(37, 186, 255);
}

.opener-para1 {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.opener-para2 {
    margin-top: -30px;
}

.buttons {
    display: flex;
    width: 550px;
    justify-content: space-evenly;
    gap: 70px;
    margin-bottom: 45px;
}

button {
    background: black;
    border: none;
}

button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}

.cancelHoverEffects {
    pointer-events: none;
}

img {
    max-width: 120px;
    border-radius: 20px;
    border-style: groove;   
}

.rock-icon {
    border: 2px solid rgb(241, 149, 206);
    max-width: 90px;
}

.paper-icon {
    border: 2px solid rgb(43, 167, 250);
    max-width: 90px;
}

.scissors-icon {
    border: 2px solid rgb(255, 208, 0);
    max-width: 90px;
}

.result-statment {
    margin-top: 30px;
}

.result-statement p {
    display: flex;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.round-result {
    display: flex;
    justify-content: space-between;
    /*padding: 0 50px;*/
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 50px;
}

.round-result .player-pick {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
}

.round-result .computer-pick {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
}

.round-result p {
    font-size: 18px;
    color: rgb(43, 167, 250);
    margin-top: -50px;
    margin-bottom: 40px;

}

.buttons
#rock, #paper, #scissors {
    padding: 10px;

}

.win-loss-counter {
    width: 400px;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;  
    font-size: 16px;  
}

.wins, 
.losses,
.ties {
    display: flex;
    justify-content: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    padding: 10px;
}

/*color:rgb(0, 255, 64);