body {
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

p {
    color:blue;
    font-size: 18px;
}

img {
    max-width: 420px;
    border: 1px solid black;
    border-radius: 15px;
}

.results p {
    font-size: 16px;
    color: black;
}

.buttons
#rock, #paper, #scissors {
    padding: 10px;
}